.star-background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: rgb(172,132,255);
  background: radial-gradient(circle, rgba(172,132,255,0.8909116972477065) 7%, rgba(30,99,199,0.5484040519877675) 43%, rgba(4,20,168,0.8633887614678899) 100%);
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  background-color: #112;
}
.stars .star-container {
  position: absolute;
  animation: stars linear infinite;
}
.stars .star-container .star {
  animation: twinkle linear infinite;
  border-radius: 100%;
  transform: translateZ(0);
}
.stars .star-container:nth-child(0) {
  width: 2px;
  height: 2px;
  left: 80vw;
  animation-delay: -995.8s;
  animation-duration: 113s;
}
.stars .star-container:nth-child(0) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 36.8s;
  background: #f2dc6d;
}
.stars .star-container:nth-child(1) {
  width: 2px;
  height: 2px;
  left: 18.5vw;
  animation-delay: -992.8s;
  animation-duration: 176.7s;
}
.stars .star-container:nth-child(1) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 5.1s;
  background: #d5d082;
}
.stars .star-container:nth-child(2) {
  width: 1px;
  height: 1px;
  left: 1.5vw;
  animation-delay: -995.8s;
  animation-duration: 253.4s;
}
.stars .star-container:nth-child(2) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 47s;
  background: rgba(241,246,120,0.9);
}
.stars .star-container:nth-child(3) {
  width: 3px;
  height: 3px;
  left: 65.5vw;
  animation-delay: -997.7333333333333s;
  animation-duration: 131.13333333333333s;
}
.stars .star-container:nth-child(3) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 31s;
  background: rgba(212,180,194,0.9);
}
.stars .star-container:nth-child(4) {
  width: 2px;
  height: 2px;
  left: 86vw;
  animation-delay: -990.4s;
  animation-duration: 35.6s;
}
.stars .star-container:nth-child(4) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 28s;
  background: rgba(231,244,183,0.9);
}
.stars .star-container:nth-child(5) {
  width: 1px;
  height: 1px;
  left: 91vw;
  animation-delay: -981.8s;
  animation-duration: 252.2s;
}
.stars .star-container:nth-child(5) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.2s;
  animation-duration: 44.1s;
  background: rgba(205,154,117,0.8);
}
.stars .star-container:nth-child(6) {
  width: 2px;
  height: 2px;
  left: 70vw;
  animation-delay: -992.1s;
  animation-duration: 24.3s;
}
.stars .star-container:nth-child(6) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.7s;
  animation-duration: 21.7s;
  background: rgba(248,152,212,0.8);
}
.stars .star-container:nth-child(7) {
  width: 1px;
  height: 1px;
  left: 32.5vw;
  animation-delay: -982.2s;
  animation-duration: 190.8s;
}
.stars .star-container:nth-child(7) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 42.9s;
  background: rgba(235,175,246,0.9);
}
.stars .star-container:nth-child(8) {
  width: 1px;
  height: 1px;
  left: 74vw;
  animation-delay: -988.4s;
  animation-duration: 291.6s;
}
.stars .star-container:nth-child(8) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.1s;
  animation-duration: 45s;
  background: rgba(202,249,212,0.7);
}
.stars .star-container:nth-child(9) {
  width: 3px;
  height: 3px;
  left: 1.5vw;
  animation-delay: -999.0666666666667s;
  animation-duration: 42.86666666666667s;
}
.stars .star-container:nth-child(9) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.5s;
  animation-duration: 17.3s;
  background: rgba(248,194,168,0.8);
}
.stars .star-container:nth-child(10) {
  width: 1px;
  height: 1px;
  left: 60.5vw;
  animation-delay: -990.8s;
  animation-duration: 51.8s;
}
.stars .star-container:nth-child(10) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 32.5s;
  background: rgba(251,157,211,0.8);
}
.stars .star-container:nth-child(11) {
  width: 2px;
  height: 2px;
  left: 86vw;
  animation-delay: -993.7s;
  animation-duration: 126.4s;
}
.stars .star-container:nth-child(11) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 8.7s;
  background: rgba(239,193,126,0.8);
}
.stars .star-container:nth-child(12) {
  width: 2px;
  height: 2px;
  left: 2vw;
  animation-delay: -995.9s;
  animation-duration: 113.5s;
}
.stars .star-container:nth-child(12) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.7s;
  animation-duration: 14.1s;
  background: rgba(239,224,113,0.9);
}
.stars .star-container:nth-child(13) {
  width: 1px;
  height: 1px;
  left: 36.5vw;
  animation-delay: -995.2s;
  animation-duration: 185.8s;
}
.stars .star-container:nth-child(13) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.6s;
  animation-duration: 40.6s;
  background: rgba(210,167,195,0.9);
}
.stars .star-container:nth-child(14) {
  width: 1px;
  height: 1px;
  left: 21.5vw;
  animation-delay: -987.4s;
  animation-duration: 354.2s;
}
.stars .star-container:nth-child(14) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 10.2s;
  background: rgba(221,238,140,0.9);
}
.stars .star-container:nth-child(15) {
  width: 2px;
  height: 2px;
  left: 16vw;
  animation-delay: -994.9s;
  animation-duration: 98.2s;
}
.stars .star-container:nth-child(15) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.6s;
  animation-duration: 30.6s;
  background: rgba(230,226,114,0.9);
}
.stars .star-container:nth-child(16) {
  width: 1px;
  height: 1px;
  left: 44.5vw;
  animation-delay: -992.8s;
  animation-duration: 124.6s;
}
.stars .star-container:nth-child(16) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 25.6s;
  background: rgba(250,221,162,0.7);
}
.stars .star-container:nth-child(17) {
  width: 1px;
  height: 1px;
  left: 32.5vw;
  animation-delay: -995.4s;
  animation-duration: 262.2s;
}
.stars .star-container:nth-child(17) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 49.4s;
  background: rgba(240,196,247,0.9);
}
.stars .star-container:nth-child(18) {
  width: 3px;
  height: 3px;
  left: 63vw;
  animation-delay: -998.6666666666666s;
  animation-duration: 77.39999999999999s;
}
.stars .star-container:nth-child(18) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 49.2s;
  background: rgba(242,150,163,0.8);
}
.stars .star-container:nth-child(19) {
  width: 2px;
  height: 2px;
  left: 12.5vw;
  animation-delay: -994.8s;
  animation-duration: 24.6s;
}
.stars .star-container:nth-child(19) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.4s;
  animation-duration: 24.9s;
  background: rgba(254,184,212,0.8);
}
.stars .star-container:nth-child(20) {
  width: 3px;
  height: 3px;
  left: 24.5vw;
  animation-delay: -999.2s;
  animation-duration: 104.86666666666667s;
}
.stars .star-container:nth-child(20) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.6s;
  animation-duration: 14.2s;
  background: rgba(249,167,213,0.7);
}
.stars .star-container:nth-child(21) {
  width: 2px;
  height: 2px;
  left: 74.5vw;
  animation-delay: -992.3s;
  animation-duration: 194.4s;
}
.stars .star-container:nth-child(21) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.4s;
  animation-duration: 43.2s;
  background: rgba(239,192,141,0.8);
}
.stars .star-container:nth-child(22) {
  width: 2px;
  height: 2px;
  left: 76vw;
  animation-delay: -995.8s;
  animation-duration: 200s;
}
.stars .star-container:nth-child(22) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.3s;
  animation-duration: 28.4s;
  background: rgba(211,175,181,0.7);
}
.stars .star-container:nth-child(23) {
  width: 1px;
  height: 1px;
  left: 47vw;
  animation-delay: -994.6s;
  animation-duration: 238.4s;
}
.stars .star-container:nth-child(23) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.2s;
  animation-duration: 13.5s;
  background: rgba(216,224,213,0.9);
}
.stars .star-container:nth-child(24) {
  width: 2px;
  height: 2px;
  left: 70vw;
  animation-delay: -998.4s;
  animation-duration: 162s;
}
.stars .star-container:nth-child(24) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.7s;
  animation-duration: 43.1s;
  background: rgba(219,212,182,0.8);
}
.stars .star-container:nth-child(25) {
  width: 2px;
  height: 2px;
  left: 74.5vw;
  animation-delay: -998.5s;
  animation-duration: 200s;
}
.stars .star-container:nth-child(25) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 15.8s;
  background: rgba(219,252,117,0.9);
}
.stars .star-container:nth-child(26) {
  width: 2px;
  height: 2px;
  left: 93vw;
  animation-delay: -997.9s;
  animation-duration: 52.2s;
}
.stars .star-container:nth-child(26) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 44.8s;
  background: rgba(240,163,230,0.9);
}
.stars .star-container:nth-child(27) {
  width: 3px;
  height: 3px;
  left: 42.5vw;
  animation-delay: -995.0666666666667s;
  animation-duration: 80.93333333333334s;
}
.stars .star-container:nth-child(27) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.6s;
  animation-duration: 46.9s;
  background: rgba(200,196,199,0.7);
}
.stars .star-container:nth-child(28) {
  width: 1px;
  height: 1px;
  left: 89vw;
  animation-delay: -980.6s;
  animation-duration: 85.8s;
}
.stars .star-container:nth-child(28) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 32.8s;
  background: #eeeafa;
}
.stars .star-container:nth-child(29) {
  width: 1px;
  height: 1px;
  left: 92.5vw;
  animation-delay: -994.6s;
  animation-duration: 206.4s;
}
.stars .star-container:nth-child(29) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 28.8s;
  background: rgba(232,185,240,0.7);
}
.stars .star-container:nth-child(30) {
  width: 3px;
  height: 3px;
  left: 38vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 44.26666666666667s;
}
.stars .star-container:nth-child(30) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 11.2s;
  background: rgba(252,184,136,0.7);
}
.stars .star-container:nth-child(31) {
  width: 3px;
  height: 3px;
  left: 56vw;
  animation-delay: -996.8666666666667s;
  animation-duration: 20.866666666666667s;
}
.stars .star-container:nth-child(31) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 31.5s;
  background: rgba(217,214,151,0.9);
}
.stars .star-container:nth-child(32) {
  width: 2px;
  height: 2px;
  left: 25.5vw;
  animation-delay: -992.6s;
  animation-duration: 187.1s;
}
.stars .star-container:nth-child(32) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 21.9s;
  background: #caeb77;
}
.stars .star-container:nth-child(33) {
  width: 3px;
  height: 3px;
  left: 76.5vw;
  animation-delay: -994.4s;
  animation-duration: 84.46666666666667s;
}
.stars .star-container:nth-child(33) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 30.8s;
  background: #d3f697;
}
.stars .star-container:nth-child(34) {
  width: 3px;
  height: 3px;
  left: 40vw;
  animation-delay: -993.6s;
  animation-duration: 91.26666666666667s;
}
.stars .star-container:nth-child(34) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.2s;
  animation-duration: 7s;
  background: rgba(239,225,118,0.9);
}
.stars .star-container:nth-child(35) {
  width: 3px;
  height: 3px;
  left: 46.5vw;
  animation-delay: -995.2s;
  animation-duration: 31.666666666666668s;
}
.stars .star-container:nth-child(35) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.3s;
  animation-duration: 39.9s;
  background: #ebaaca;
}
.stars .star-container:nth-child(36) {
  width: 3px;
  height: 3px;
  left: 52.5vw;
  animation-delay: -999s;
  animation-duration: 44.53333333333333s;
}
.stars .star-container:nth-child(36) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 9.7s;
  background: rgba(235,162,163,0.9);
}
.stars .star-container:nth-child(37) {
  width: 3px;
  height: 3px;
  left: 92.5vw;
  animation-delay: -994s;
  animation-duration: 81.73333333333333s;
}
.stars .star-container:nth-child(37) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 22.5s;
  background: rgba(221,244,162,0.8);
}
.stars .star-container:nth-child(38) {
  width: 3px;
  height: 3px;
  left: 2vw;
  animation-delay: -993.5333333333333s;
  animation-duration: 98.46666666666665s;
}
.stars .star-container:nth-child(38) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.9s;
  animation-duration: 24.7s;
  background: #edb98d;
}
.stars .star-container:nth-child(39) {
  width: 2px;
  height: 2px;
  left: 21vw;
  animation-delay: -994.7s;
  animation-duration: 128.6s;
}
.stars .star-container:nth-child(39) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.3s;
  animation-duration: 43.1s;
  background: rgba(200,249,205,0.7);
}
.stars .star-container:nth-child(40) {
  width: 1px;
  height: 1px;
  left: 70vw;
  animation-delay: -981s;
  animation-duration: 116.8s;
}
.stars .star-container:nth-child(40) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.6s;
  animation-duration: 17s;
  background: rgba(241,195,105,0.9);
}
.stars .star-container:nth-child(41) {
  width: 2px;
  height: 2px;
  left: 23vw;
  animation-delay: -992.9s;
  animation-duration: 100.6s;
}
.stars .star-container:nth-child(41) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 36.3s;
  background: #e0b4e1;
}
.stars .star-container:nth-child(42) {
  width: 1px;
  height: 1px;
  left: 67.5vw;
  animation-delay: -981.6s;
  animation-duration: 229.8s;
}
.stars .star-container:nth-child(42) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 42s;
  background: #dfe96b;
}
.stars .star-container:nth-child(43) {
  width: 2px;
  height: 2px;
  left: 50vw;
  animation-delay: -998.7s;
  animation-duration: 92.5s;
}
.stars .star-container:nth-child(43) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 15s;
  background: rgba(200,214,238,0.9);
}
.stars .star-container:nth-child(44) {
  width: 2px;
  height: 2px;
  left: 68.5vw;
  animation-delay: -995s;
  animation-duration: 116.4s;
}
.stars .star-container:nth-child(44) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.6s;
  animation-duration: 24.4s;
  background: #d0f1f1;
}
.stars .star-container:nth-child(45) {
  width: 1px;
  height: 1px;
  left: 47.5vw;
  animation-delay: -981s;
  animation-duration: 219s;
}
.stars .star-container:nth-child(45) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 43.8s;
  background: rgba(210,168,204,0.9);
}
.stars .star-container:nth-child(46) {
  width: 3px;
  height: 3px;
  left: 37.5vw;
  animation-delay: -994.6666666666666s;
  animation-duration: 22.266666666666666s;
}
.stars .star-container:nth-child(46) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 25.5s;
  background: rgba(226,152,152,0.7);
}
.stars .star-container:nth-child(47) {
  width: 3px;
  height: 3px;
  left: 35vw;
  animation-delay: -998.7333333333333s;
  animation-duration: 125.53333333333335s;
}
.stars .star-container:nth-child(47) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 37.5s;
  background: #ebab94;
}
.stars .star-container:nth-child(48) {
  width: 1px;
  height: 1px;
  left: 74vw;
  animation-delay: -986.2s;
  animation-duration: 72.2s;
}
.stars .star-container:nth-child(48) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 26.1s;
  background: rgba(226,218,206,0.8);
}
.stars .star-container:nth-child(49) {
  width: 2px;
  height: 2px;
  left: 91vw;
  animation-delay: -991.5s;
  animation-duration: 51s;
}
.stars .star-container:nth-child(49) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.1s;
  animation-duration: 27.2s;
  background: #e29d90;
}
.stars .star-container:nth-child(50) {
  width: 2px;
  height: 2px;
  left: 38vw;
  animation-delay: -991.8s;
  animation-duration: 188.7s;
}
.stars .star-container:nth-child(50) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 45.1s;
  background: #cdbdcb;
}
.stars .star-container:nth-child(51) {
  width: 1px;
  height: 1px;
  left: 26vw;
  animation-delay: -996.4s;
  animation-duration: 308s;
}
.stars .star-container:nth-child(51) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 6.2s;
  background: rgba(241,226,120,0.8);
}
.stars .star-container:nth-child(52) {
  width: 1px;
  height: 1px;
  left: 36.5vw;
  animation-delay: -984s;
  animation-duration: 196.6s;
}
.stars .star-container:nth-child(52) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 17.2s;
  background: rgba(252,171,247,0.9);
}
.stars .star-container:nth-child(53) {
  width: 2px;
  height: 2px;
  left: 56.5vw;
  animation-delay: -997.3s;
  animation-duration: 27s;
}
.stars .star-container:nth-child(53) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.3s;
  animation-duration: 45.9s;
  background: #eee7d9;
}
.stars .star-container:nth-child(54) {
  width: 1px;
  height: 1px;
  left: 22vw;
  animation-delay: -990.8s;
  animation-duration: 171s;
}
.stars .star-container:nth-child(54) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.3s;
  animation-duration: 40.2s;
  background: rgba(207,158,163,0.9);
}
.stars .star-container:nth-child(55) {
  width: 3px;
  height: 3px;
  left: 81vw;
  animation-delay: -994.6666666666666s;
  animation-duration: 77.73333333333333s;
}
.stars .star-container:nth-child(55) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 12.5s;
  background: rgba(202,203,225,0.8);
}
.stars .star-container:nth-child(56) {
  width: 2px;
  height: 2px;
  left: 1vw;
  animation-delay: -994.6s;
  animation-duration: 133.7s;
}
.stars .star-container:nth-child(56) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.5s;
  animation-duration: 42s;
  background: rgba(223,158,232,0.8);
}
.stars .star-container:nth-child(57) {
  width: 2px;
  height: 2px;
  left: 4vw;
  animation-delay: -992.8s;
  animation-duration: 92.2s;
}
.stars .star-container:nth-child(57) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 18.9s;
  background: rgba(210,167,139,0.8);
}
.stars .star-container:nth-child(58) {
  width: 3px;
  height: 3px;
  left: 72vw;
  animation-delay: -999.8s;
  animation-duration: 74.46666666666667s;
}
.stars .star-container:nth-child(58) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 6.8s;
  background: rgba(237,198,143,0.8);
}
.stars .star-container:nth-child(59) {
  width: 3px;
  height: 3px;
  left: 18vw;
  animation-delay: -993.3333333333334s;
  animation-duration: 129.46666666666667s;
}
.stars .star-container:nth-child(59) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.2s;
  animation-duration: 26.2s;
  background: rgba(244,241,242,0.8);
}
.stars .star-container:nth-child(60) {
  width: 3px;
  height: 3px;
  left: 59vw;
  animation-delay: -994.3333333333334s;
  animation-duration: 14.266666666666666s;
}
.stars .star-container:nth-child(60) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 8.7s;
  background: rgba(229,235,155,0.7);
}
.stars .star-container:nth-child(61) {
  width: 1px;
  height: 1px;
  left: 20.5vw;
  animation-delay: -990.8s;
  animation-duration: 161.4s;
}
.stars .star-container:nth-child(61) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.2s;
  animation-duration: 36.3s;
  background: rgba(253,198,172,0.9);
}
.stars .star-container:nth-child(62) {
  width: 3px;
  height: 3px;
  left: 40.5vw;
  animation-delay: -995.8s;
  animation-duration: 46.46666666666667s;
}
.stars .star-container:nth-child(62) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.9s;
  animation-duration: 23.1s;
  background: rgba(219,177,219,0.8);
}
.stars .star-container:nth-child(63) {
  width: 1px;
  height: 1px;
  left: 4vw;
  animation-delay: -983.4s;
  animation-duration: 275.4s;
}
.stars .star-container:nth-child(63) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.4s;
  animation-duration: 32.7s;
  background: rgba(235,202,224,0.9);
}
.stars .star-container:nth-child(64) {
  width: 2px;
  height: 2px;
  left: 89.5vw;
  animation-delay: -991.4s;
  animation-duration: 80.8s;
}
.stars .star-container:nth-child(64) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.5s;
  animation-duration: 22.2s;
  background: rgba(200,150,247,0.9);
}
.stars .star-container:nth-child(65) {
  width: 1px;
  height: 1px;
  left: 30vw;
  animation-delay: -989.8s;
  animation-duration: 370.6s;
}
.stars .star-container:nth-child(65) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 26.2s;
  background: rgba(230,207,138,0.7);
}
.stars .star-container:nth-child(66) {
  width: 1px;
  height: 1px;
  left: 42vw;
  animation-delay: -991.4s;
  animation-duration: 60.8s;
}
.stars .star-container:nth-child(66) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.9s;
  animation-duration: 30.9s;
  background: #f0ccc1;
}
.stars .star-container:nth-child(67) {
  width: 1px;
  height: 1px;
  left: 37vw;
  animation-delay: -996.8s;
  animation-duration: 81.8s;
}
.stars .star-container:nth-child(67) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 5.3s;
  background: rgba(232,199,115,0.7);
}
.stars .star-container:nth-child(68) {
  width: 3px;
  height: 3px;
  left: 80vw;
  animation-delay: -998.8666666666667s;
  animation-duration: 13.4s;
}
.stars .star-container:nth-child(68) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 11.9s;
  background: rgba(234,255,187,0.8);
}
.stars .star-container:nth-child(69) {
  width: 3px;
  height: 3px;
  left: 66vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 24.53333333333333s;
}
.stars .star-container:nth-child(69) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47s;
  animation-duration: 49.6s;
  background: rgba(255,210,156,0.9);
}
.stars .star-container:nth-child(70) {
  width: 2px;
  height: 2px;
  left: 7.5vw;
  animation-delay: -995.1s;
  animation-duration: 191s;
}
.stars .star-container:nth-child(70) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.1s;
  animation-duration: 32.3s;
  background: rgba(254,204,112,0.7);
}
.stars .star-container:nth-child(71) {
  width: 3px;
  height: 3px;
  left: 35.5vw;
  animation-delay: -996.6666666666666s;
  animation-duration: 99.46666666666665s;
}
.stars .star-container:nth-child(71) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 14.3s;
  background: rgba(252,165,222,0.7);
}
.stars .star-container:nth-child(72) {
  width: 1px;
  height: 1px;
  left: 59vw;
  animation-delay: -996.6s;
  animation-duration: 399.6s;
}
.stars .star-container:nth-child(72) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 15.8s;
  background: rgba(255,163,249,0.9);
}
.stars .star-container:nth-child(73) {
  width: 1px;
  height: 1px;
  left: 15vw;
  animation-delay: -999.8s;
  animation-duration: 348.6s;
}
.stars .star-container:nth-child(73) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45s;
  animation-duration: 35.4s;
  background: rgba(240,191,207,0.7);
}
.stars .star-container:nth-child(74) {
  width: 2px;
  height: 2px;
  left: 28vw;
  animation-delay: -993.8s;
  animation-duration: 39.8s;
}
.stars .star-container:nth-child(74) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.8s;
  animation-duration: 21.1s;
  background: #e3aac8;
}
.stars .star-container:nth-child(75) {
  width: 3px;
  height: 3px;
  left: 39.5vw;
  animation-delay: -996.1333333333333s;
  animation-duration: 118.86666666666667s;
}
.stars .star-container:nth-child(75) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 30.6s;
  background: rgba(219,201,175,0.8);
}
.stars .star-container:nth-child(76) {
  width: 2px;
  height: 2px;
  left: 99.5vw;
  animation-delay: -993.1s;
  animation-duration: 82.7s;
}
.stars .star-container:nth-child(76) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41s;
  animation-duration: 19.3s;
  background: rgba(207,158,134,0.7);
}
.stars .star-container:nth-child(77) {
  width: 1px;
  height: 1px;
  left: 0.5vw;
  animation-delay: -993.2s;
  animation-duration: 180s;
}
.stars .star-container:nth-child(77) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 42.9s;
  background: rgba(202,249,169,0.9);
}
.stars .star-container:nth-child(78) {
  width: 1px;
  height: 1px;
  left: 81.5vw;
  animation-delay: -985.2s;
  animation-duration: 365.8s;
}
.stars .star-container:nth-child(78) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 11.6s;
  background: rgba(251,199,101,0.8);
}
.stars .star-container:nth-child(79) {
  width: 1px;
  height: 1px;
  left: 40.5vw;
  animation-delay: -982.4s;
  animation-duration: 174s;
}
.stars .star-container:nth-child(79) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.8s;
  animation-duration: 13.7s;
  background: rgba(212,212,185,0.9);
}
.stars .star-container:nth-child(80) {
  width: 2px;
  height: 2px;
  left: 48vw;
  animation-delay: -994.6s;
  animation-duration: 36.4s;
}
.stars .star-container:nth-child(80) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.7s;
  animation-duration: 18.8s;
  background: rgba(244,246,232,0.7);
}
.stars .star-container:nth-child(81) {
  width: 1px;
  height: 1px;
  left: 10.5vw;
  animation-delay: -984s;
  animation-duration: 228s;
}
.stars .star-container:nth-child(81) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 40.9s;
  background: #eca1a1;
}
.stars .star-container:nth-child(82) {
  width: 1px;
  height: 1px;
  left: 22vw;
  animation-delay: -984s;
  animation-duration: 266.2s;
}
.stars .star-container:nth-child(82) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.9s;
  animation-duration: 5.1s;
  background: rgba(226,214,117,0.7);
}
.stars .star-container:nth-child(83) {
  width: 3px;
  height: 3px;
  left: 65.5vw;
  animation-delay: -998.7333333333333s;
  animation-duration: 37.800000000000004s;
}
.stars .star-container:nth-child(83) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.1s;
  animation-duration: 38.3s;
  background: rgba(216,171,246,0.9);
}
.stars .star-container:nth-child(84) {
  width: 1px;
  height: 1px;
  left: 78.5vw;
  animation-delay: -981s;
  animation-duration: 316.4s;
}
.stars .star-container:nth-child(84) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.8s;
  animation-duration: 33.3s;
  background: rgba(210,198,134,0.9);
}
.stars .star-container:nth-child(85) {
  width: 1px;
  height: 1px;
  left: 13vw;
  animation-delay: -982s;
  animation-duration: 183.8s;
}
.stars .star-container:nth-child(85) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.9s;
  animation-duration: 42.9s;
  background: #f8a5b2;
}
.stars .star-container:nth-child(86) {
  width: 1px;
  height: 1px;
  left: 49vw;
  animation-delay: -999s;
  animation-duration: 129.4s;
}
.stars .star-container:nth-child(86) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 6.9s;
  background: rgba(252,235,158,0.9);
}
.stars .star-container:nth-child(87) {
  width: 2px;
  height: 2px;
  left: 38vw;
  animation-delay: -990.3s;
  animation-duration: 29.3s;
}
.stars .star-container:nth-child(87) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.5s;
  animation-duration: 27.9s;
  background: #dcbafd;
}
.stars .star-container:nth-child(88) {
  width: 1px;
  height: 1px;
  left: 83vw;
  animation-delay: -985s;
  animation-duration: 73.8s;
}
.stars .star-container:nth-child(88) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 38.3s;
  background: rgba(231,248,247,0.9);
}
.stars .star-container:nth-child(89) {
  width: 3px;
  height: 3px;
  left: 37vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 77.93333333333334s;
}
.stars .star-container:nth-child(89) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 40.9s;
  background: rgba(200,171,102,0.8);
}
.stars .star-container:nth-child(90) {
  width: 2px;
  height: 2px;
  left: 49.5vw;
  animation-delay: -995s;
  animation-duration: 95s;
}
.stars .star-container:nth-child(90) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 49.3s;
  background: rgba(249,188,237,0.9);
}
.stars .star-container:nth-child(91) {
  width: 1px;
  height: 1px;
  left: 39vw;
  animation-delay: -993.2s;
  animation-duration: 276.2s;
}
.stars .star-container:nth-child(91) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.2s;
  animation-duration: 16.9s;
  background: rgba(232,165,119,0.8);
}
.stars .star-container:nth-child(92) {
  width: 3px;
  height: 3px;
  left: 10vw;
  animation-delay: -998.6666666666666s;
  animation-duration: 14.266666666666666s;
}
.stars .star-container:nth-child(92) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.1s;
  animation-duration: 9.5s;
  background: #e99fec;
}
.stars .star-container:nth-child(93) {
  width: 2px;
  height: 2px;
  left: 81.5vw;
  animation-delay: -999s;
  animation-duration: 123s;
}
.stars .star-container:nth-child(93) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.4s;
  animation-duration: 18.2s;
  background: rgba(220,214,191,0.9);
}
.stars .star-container:nth-child(94) {
  width: 2px;
  height: 2px;
  left: 88vw;
  animation-delay: -996.5s;
  animation-duration: 161.8s;
}
.stars .star-container:nth-child(94) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 11.9s;
  background: rgba(254,194,110,0.7);
}
.stars .star-container:nth-child(95) {
  width: 3px;
  height: 3px;
  left: 0vw;
  animation-delay: -998.2666666666667s;
  animation-duration: 116.86666666666667s;
}
.stars .star-container:nth-child(95) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 34.2s;
  background: rgba(206,248,150,0.8);
}
.stars .star-container:nth-child(96) {
  width: 3px;
  height: 3px;
  left: 56vw;
  animation-delay: -998.9333333333333s;
  animation-duration: 66.13333333333334s;
}
.stars .star-container:nth-child(96) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 31.8s;
  background: rgba(229,186,182,0.9);
}
.stars .star-container:nth-child(97) {
  width: 3px;
  height: 3px;
  left: 94vw;
  animation-delay: -998.4666666666667s;
  animation-duration: 82.26666666666667s;
}
.stars .star-container:nth-child(97) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 18.2s;
  background: rgba(249,164,198,0.9);
}
.stars .star-container:nth-child(98) {
  width: 2px;
  height: 2px;
  left: 22.5vw;
  animation-delay: -993.3s;
  animation-duration: 132.8s;
}
.stars .star-container:nth-child(98) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 10.5s;
  background: rgba(233,162,148,0.7);
}
.stars .star-container:nth-child(99) {
  width: 2px;
  height: 2px;
  left: 54vw;
  animation-delay: -996s;
  animation-duration: 43.5s;
}
.stars .star-container:nth-child(99) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.8s;
  animation-duration: 24.3s;
  background: rgba(255,209,191,0.9);
}
.stars .star-container:nth-child(100) {
  width: 2px;
  height: 2px;
  left: 46.5vw;
  animation-delay: -999s;
  animation-duration: 73.9s;
}
.stars .star-container:nth-child(100) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.3s;
  animation-duration: 47.1s;
  background: rgba(236,167,203,0.7);
}
@-moz-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-webkit-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-o-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }
  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}
@-moz-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-webkit-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@-o-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}
@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}


/* game */
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  color: white;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.game {
  width: 800px;
  height: 600px;

}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 50px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: #FFB900;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: #FF2300  ;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.btn {
  border: 2px solid #36bbf5;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 49%,
    #f5f5f5 50%,
    #eee 100%
  );
  padding: 10px 40px;
  font: 14px sans-serif;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
